body { height: 2000px; background-color: #ddd }
#noteMark_wrap_add { position: absolute; top: 0; left: 0; width: 200px; height: 150px; background-color: #eee; z-index: 999999; border: 1px solid #808080; padding: 5px; border-radius: 5px }
.animated { animation-duration: 1s; animation-fill-mode: both; animation-name: pulse; animation-iteration-count: infinite }
@keyframes pulse {
    0% { transform: scaleX(1) }
    50% { transform: scale3d(1.15, 1.15, 1.15) }
    to { transform: scaleX(1) }
}
div#noteMark_wrap_add a { text-decoration: none; color: #fff; border: 1px solid #009e78; border-radius: 5px; margin-right: 10px; width: 50px; display: block; float: left; text-align: center; margin-top: 5px; background-color: #00bfd0; font-size: 16px }
div#noteMark_wrap_add textarea { display: block; border: 0; padding: 0; margin: 0; height: 110px; padding: 5px; width: 188px; border: 1px solid #ddd; border-radius: 5px }
div#noteMark_wrap_add a:hover { background-color: #0095a2 }
.noteMark_List_Item.coll { position: absolute }
.noteMark_List_Item .flag { width: 12px; height: 12px; background-color: #00bfd0; display: block; border-radius: 20px; cursor: pointer }
.noteMark_List_Item p { margin: 0; width: 200px; border: 1px solid #afafaf; background-color: #f7f7f7; font-size: 14px; padding: 6px; border-radius: 4px; margin-top: 5px }